/* header */

.container-fluid {
  background-color: rgb(138, 138, 135);
}

/* main */

h1 {
  text-align: center;
  padding: 1, 5rem;
  font-family: "Bebas Neue", cursive;
  font-size: 100px;
}

.estilo-parrafo-centrado {
  text-align: center;
  font-size: 35px;
}

.container {
  display: block;
  margin: 30px;
}

/* footer */
footer {
  background-color: rgb(119, 119, 119);
}

.footer-index {
  height: 155px;
  width: 100%;
  text-align: center;
}

.container-footer a {
  display: inline-block;
  margin: 2rem;
}

/* nosotros */

.titulo-nosotros {
  font-family: "Bebas Neue", cursive;
  font-size: 100px;
  text-align: center;
}
