/* header */

.container-fluid {
  background-color: rgb(138, 138, 135);
}

/* main */

h1 {
  text-align: center;
  padding: 1, 5rem;
  font-family: "Bebas Neue", cursive;
  font-size: 100px;
}

.estilo-parrafo-centrado {
  text-align: center;
  font-size: 35px;
}

.container {
  display: block;
  margin: 30px;
}

/* nosotros */

#titulo-nosotros {
  font-size: 50px;
}

.titulo-nosotros {
  font-family: "Bebas Neue", cursive;
  font-size: 100px;
  text-align: center;
}

.nosotros {
  height: 350px;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.container-imagen {
  display: flex;
  justify-content: center;
  align-content: center;
}

.centro {
  text-align: center;
  margin: 30px;
}

main {
  height: 1200px;
}
